<div class="col-lg-3">
    <!-- Admins -->
      <div style="border-radius: 5px;">
        <h1> Techies </h1>
            <%- include("../partials/staffcard", {
              tag: "VoidCrafted#2483",
              color: "orange",
              bio: "Hey, I'm a developer! I wrote most of this site :-)",
              profile: "https://cdn.discordapp.com/avatars/193053876692189184/12b0ec55628e6a5355f0b977862e069e.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              tag: "Frosty ☃️#5263",
              color: "orange",
              bio: "",
              profile: "https://cdn.discordapp.com/avatars/66141201631285248/c4cd2dd8f0590f799ec9bb906e32a942.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              tag: "atrocity#5229",
              color: "orange",
              bio: "",
              profile: "https://cdn.discordapp.com/avatars/126760526473723904/a_9ec0e04418b3c1b75253101676c049e6.gif?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              tag: "Ruin332#3547",
              color: "orange",
              bio: "",
              profile: "https://cdn.discordapp.com/avatars/130653190835142656/a_14184a40d4e5ca0d4539bd989764b9c1.gif?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              tag: "molenzwiebel#2773",
              color: "orange",
              bio: "",
              profile: "https://cdn.discordapp.com/avatars/86540964021161984/d26ba2996ae24e38d23eb21b66ed2e2f.png?size=128"
            }) %>
      </div>
    </div>