<div class="col-lg-3">
    <!-- Admins -->
      <div style="background-color: rgba(35, 39, 42,0.6); border-radius: 5px;">
        <h1> Moderators </h1>
        <ul class="list-unstyled" style="padding-left: 5px">
            <%- include("../partials/staffcard", {
              "tag":"GravesBot#4303",
              "color":"purple",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/165282302065115136/84eccd45b522a3edf3165d3a60fe8a07.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"Iridis#9983",
              "color":"purple",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/225073635235201025/0273eda4a9ae9665b9cca6895314f01a.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"Tune#6471",
              "color":"purple",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/188513524471824384/c290d06fb9ece38296c15a1ff4d2f947.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"tahidiot#4418",
              "color":"purple",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/197515842462810112/d3f096ccc19d0cc50aa30d919c90eb50.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"ix#0227",
              "color":"purple",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/267785361810259968/a_73aaafba6236717ebc81beee710c0508.gif?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"Gleos#6874",
              "color":"purple",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/174057184513097729/d1437574d48cb8bd9c1b656ca70687e6.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"tina#3797",
              "color":"purple",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/182233857427374080/589b6b4ebf79d7b577b697abe11ddb3c.png?size=128"
            }) %>
        </ul>
      </div>
    </div>