<div class="col-lg-3">
    <!-- Admins -->
      <div style="border-radius: 5px;">
        <h1> Moderators </h1>
            <%- include("../partials/staffcard", {
              "tag":"GravesBot#4303",
              "color":"#FF00FF",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/165282302065115136/84eccd45b522a3edf3165d3a60fe8a07.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"Iridis#9983",
              "color":"#FF00FF",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/225073635235201025/0273eda4a9ae9665b9cca6895314f01a.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"Tune#6471",
              "color":"#FF00FF",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/188513524471824384/c290d06fb9ece38296c15a1ff4d2f947.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"tahidiot#4418",
              "color":"#FF00FF",
              "bio":"Hello there pardners, this is my introducksheun to myself 🤠",
              "profile":"https://cdn.discordapp.com/avatars/197515842462810112/d3f096ccc19d0cc50aa30d919c90eb50.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"ix#0227",
              "color":"#FF00FF",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/267785361810259968/a_73aaafba6236717ebc81beee710c0508.gif?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"Gleos#6874",
              "color":"#FF00FF",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/174057184513097729/d1437574d48cb8bd9c1b656ca70687e6.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"tina#3797",
              "color":"#FF00FF",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/182233857427374080/589b6b4ebf79d7b577b697abe11ddb3c.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              "tag":"ᴷᵃˡᵉ#9149",
              "color":"#FF00FF",
              "bio":"",
              "profile":"https://cdn.discordapp.com/avatars/200769142456844288/64ecb1858ded419f5a45187ee302ddf2.png?size=2048"
            }) %>
      </div>
    </div>