<div class="col-lg-3">
  <!-- Admins -->
  <div style="border-radius: 5px;">
    <h1> Other Staff </h1>
        <%- include("../partials/staffcard", {
          "tag":"weebiejeebiesß·#7098",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/228468184787714048/51523909d15154add9e3f3d318e68920.png?size=2048"
        }) %>

        <%- include("../partials/staffcard", {
          "tag":"ê¿€ ê¿€#2177",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/201489290444800000/0ab75c3a3991c4d4fe26677e7e9af637.png?size=2048"
        }) %>

        <%- include("../partials/staffcard", {
          "tag":"ð”Šð”¢ð”ªð”¦ð”«ð”¦ ð”…ð”©ð”²ð”¢#4494",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/280161785921929216/a666952fe579718282cf2fc0e00f1e61.png?size=2048"
        }) %>

        <%- include("../partials/staffcard", {
          "tag":".Rizakor#5178",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/116030135462920196/df71d0c3933021ea0aea0cc817541b2c.png?size=2048"
        }) %>
        <%- include("../partials/staffcard", {
          "tag":"Momo#5988",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/272000111624585216/5111715a2998348dc2ea68310be2d8b7.png?size=2048"
        }) %>

        <%- include("../partials/staffcard", {
          "tag":"Moncada#8803",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/168402999448829952/6ce48ba668bf3c4cd31b3c68b5c08394.png?size=2048"
        }) %>

        <%- include("../partials/staffcard", {
          "tag":"imu#2962",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/371500075274207236/a_4182a62cbaf1551a1f7a484e9a2bd6b2.gif?size=2048"
        }) %>
        <%- include("../partials/staffcard", {
          "tag":"Rinkky#7742",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/186487324517859328/52290b59ba275c50442cb245c6af162b.png?size=2048"
        }) %>

        <%- include("../partials/staffcard", {
          "tag":"Moe#6416",
          "color":"blue",
          "bio":"Ex-Mod, love to work for the server",
          "profile":"https://cdn.discordapp.com/avatars/198106567436926976/0ab47751c2a5bd357e9f884bc435a8f4.png?size=2048"
        }) %>

        <%- include("../partials/staffcard", {
          "tag":"jasmine#2261",
          "color":"blue",
          "bio":"",
          "profile":"https://cdn.discordapp.com/avatars/157997676653182976/8d4f43da4cd58b02f213a55d0b6b84c1.png?size=2048"
        }) %>

  </div>
</div>
