<%- include("../partials/header.ejs", {page: "staff"}) %>

<div class="container-fluid">
  <div class="row">
      <%- include("../partials/adminlist") %>
      <%- include("../partials/devlist") %>
      <%- include("../partials/modlist") %>
  </div>
</div>

<%- include("../partials/footer.ejs") %>